services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ..:/workspace:cached
    command: sleep infinity
    env_file:
      - ../.env
    environment:
      NODE_ENV: development

  db:
    image: postgres:17.4
    restart: unless-stopped
    ports:
      - '0.0.0.0:5432:5432'
    volumes:
      - postgres-data:/var/lib/postgresql/data
    env_file:
      - ../.env

volumes:
  postgres-data:
